body {
    background-color: white;
    color: black;
}

h1 {
    font-family: Arial;
    background-color: beige;
    color: green;
    border-radius: 30px;
    padding: 10px;
    margin-left: 400px;
    margin-right: 400px;
}

div {
    font-family: Arial;
    border-radius: 30px;
    padding: 5px;
    background-color: beige;
    margin-left: 400px;
    margin-right: 400px;
    
}

h4 {
    color: orange
}

a {
    font-family: Arial;
    text-decoration: none;
    padding: 1px;
    background-color: beige;
    color: green;
    font-weight: bold;
}