body {

    background-image: url(../IMG/image.png);
    background-size: contain;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    filter:blur(0);  

}

div{

    margin-bottom: 15px;
    border-radius: 20px;

}
 
div input, div label{

    border-radius: 15px;

}

.radio {

    margin-bottom: 15px;
    display: block;

}

.container {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.caixona {

    border-radius: 35px;
    background-color: rgb(114, 112, 112);
    padding: 20px;
    box-shadow: blue 0px 0px 10px;

}

.png {

    filter: blur(10px);

}